@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

.demoVidPhone {
  height: 75vh;
}

.rmTop {
  height: 69vw;
}

.rmBott {
  height: 633vw;
  @include media(">=desktop") {
    top: 289%;
  }
}
