@import "../../../assets/sass/global";

.navbarPage {
  height: auto;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
}

.courseAdvisorBlob {
  width: 100vw !important;
  position: absolute;
  z-index: -1;
  left: 0;
}

#courseAdvisorMac {
  width: 50vw;
}

.courseAdvisor {
  color: $red;
  margin-top: 20px;
  margin-bottom: 0;
}

.blurb {
  margin: 0;
}

.rightText {
  text-align: right;
  width: $fiveTwelveW;
  margin: auto;
}

.head {
  width: 31.5vw;
}

.topLayer {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.redLine {
  width: 60px;
  color: $red;
  border: 2px solid;
  border-radius: 2px;
}

.overview {
  margin-top: 300px;
}

.content {
  display: flex;
  flex-direction: column;
}

.mainInfo {
  width: 66.67%;
  margin-right: 20px;
}

.top {
  display: flex;
  width: 100%;
}

.sectionBreak {
  padding-top: 100px;
  width: 66.67vw;
  margin: auto;
}

#back {
  width: $fiveTwelveW;
  position: absolute;
  left: 0;
}

#front {
  width: $fiveTwelveW;
  position: relative;
  left: 8.33vw;
  top: 100px;
}

.leftText {
  text-align: left;
  width: $fiveTwelveW;
  margin: auto;
  padding-bottom: 50px;
}

.flexDisplay {
  display: flex;
  justify-content: center;
  align-content: center;
}

.stackedImages {
  width: 50vw;
  height: $doubleImgH;
}

#alone {
  width: $fiveTwelveW;
  position: absolute;
  right: 0;
}

.soloImage {
  width: $fiveTwelveW;
  height: $singleImgH;
}

.working {
  margin-top: 100px;
}

#pad {
  padding-bottom: 150px;
}

.compImgSection {
  width: $fiveTwelveW;
  padding-right: 20px;
}

.compImg {
  width: $fiveTwelveW;
}

.compSect {
  margin-top: 70px;
}

.redlight {
  background-color: $redOverlay;
}

.demoVid {
  width: 100%;
  margin-top: 30px;
}
