@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

.resume {
  display: block;
  margin: auto;
  width: 62%;
  height: 100vh;
  border: none;
}

#resLine {
  margin-bottom: 4vw;
}

#resumeTop {
  flex-direction: column;
}

#resumeBlob {
  top: 500px;
}

.bgColor {
  background: $black;
}
