@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

.resume {
  display: block;
  margin: auto;
  border: none;
  @include media(">=tablet") {
    width: $eightC;
    height: 95vh;
  }
  @include media("<tablet") {
    width: $elevenC;
    height: 77vh;
  }
}

#resumeDate {
  margin: auto;
  padding-bottom: $gutter;
  width: $eightC;
  text-align: right;
}
