@import "../../../assets/sass/global";

.navbarPage {
  height: auto;
  top: 0;
  width: 100vw;
  margin-bottom: 100px;
}

.resume {
  display: block;
  margin: auto;
  width: 62%;
  height: 100vh;
  border: none;
}

#resLine {
  margin-bottom: 60px;
}
