@import "../../../assets/sass/global";

.blogHorLine {
  width: $tenC + $gutter * 2;
  color: $dropShadow;
  border: 1px solid;
  margin-left: $twoC;
  margin-bottom: $gutter * 2;
}

.blogVertLine {
  position: absolute;
  top: 50%;
  height: 90vw;
  width: 0;
  color: $dropShadow;
  border: 1px solid;
  @include media(">=desktop") {
    margin-left: $nineC - $gutter;
    display: normal;
  }
  @include media("<desktop") {
    display: none;
  }
}

.blogTitleText {
  width: $tenC;
  margin-left: $twoC;
}

.blogPost {
  margin-top: $gutter * 3;
  width: $tenC;
  margin-left: $oneC;
}

.blogCover {
  height: $blogCoverHeight;
  object-fit: cover;
  @include media(">=desktop") {
    width: $sevenC;
  }
  @include media("<desktop") {
    width: $tenC;
  }
}

.blogText {
  display: flex;
  @include media(">=desktop") {
    flex-wrap: nowrap;
  }
  @include media("<desktop") {
    flex-wrap: wrap;
  }
}

.blogPostLeftText {
  display: flex;
}

.blogTitle {
  @include media(">=desktop") {
    width: $sixC;
  }
  @include media("<desktop") {
    width: $eightC;
  }
}

.blogDate {
  text-align: right;
  @include media(">=desktop") {
    width: $oneC;
  }
  @include media("<desktop") {
    width: $twoC;
  }
}

.blogPostRightText {
  @include media(">=desktop") {
    width: $twoC;
    margin-left: $twoC - $gutter * 2;
    margin-top: -$gutter * 6;
  }
  @include media("<desktop") {
    width: $sevenC;
  }
}

.more {
  @include media(">=desktop") {
    display: normal;
  }
  @include media("<desktop") {
    display: none;
  }
}
