@import "../../../assets/sass/global";

ul {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  :hover {
    cursor: pointer;
  }
}

.navItem {
  @extend h2;
}

.leftNav {
  margin-right: auto;
}

#name {
  margin-left: auto;
  @extend h1;
}
