@import "../../../assets/sass/global";

.navbarHome {
  width: 100vw;
}

// #homePage {
//   display: flex;
// }

#spotlightText {
  @include media(">=tablet") {
    width: $sixC;
    margin-right: $fiveC;
    margin-left: auto;
    padding-top: 5%;
  }
  @include media("<tablet") {
    padding-top: 5%;
    margin: $gutter * 2;
  }
}

#currentTitle {
  @include media(">=tablet") {
    width: $fiveC;
    margin-left: $sevenC;
  }
  @include media("<tablet") {
    margin: $gutter * 2;
    text-align: right;
  }
}

.stickyFooter {
  position: fixed;
  margin: 0;
  right: 0;
  bottom: 0;
}
