@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

#aboutImg {
  @include media(">=desktop") {
    width: $fourC;
    margin-left: $sixC;
  }
  @include media("<desktop") {
    max-width: 50%;
    display: block;
    margin: auto;
  }
}

#aboutText {
  width: $threeC;
  @include media(">=desktop") {
    margin-left: $twoC;
    padding: 0 !important;
    padding-right: $oneC !important;
  }
  @include media("<desktop") {
    width: $eightC !important;
    margin: 0 !important;
    text-align: left;
    margin-left: $oneC + $gutter !important;
  }
}

#aboutTitle {
  text-align: right;
  padding-bottom: $gutter !important;
  @include media(">=desktop") {
    width: $fourC;
    margin-left: $twoC;
  }
  @include media("<desktop") {
    width: $tenC;
  }
}

#aboutLine {
  color: $black;
  border: 1px solid;
  border-radius: 0;
  margin: 0;
  @include media(">=desktop") {
    margin-left: $twoC;
    width: $fourC;
  }
  @include media("<desktop") {
    width: $nineC;
    margin-left: $oneC + $gutter;
  }
}

#aboutTopLayer {
  @include media(">=desktop") {
    z-index: 1;
    position: absolute;
    top: $threeC;
  }
  @include media("<desktop") {
    padding-top: 5%;
    position: static;
  }
}
