@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

.confidential {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.gpTop {
  height: 72vw;
  @include media(">=desktop") {
    top: 50%;
  }
}

.gpBott {
  height: 58vw;
  @include media(">=desktop") {
    top: 297%;
  }
}
