@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

.linkObvi {
  color: $black;
  text-decoration: underline;
}

.macroImg {
  @include media(">=desktop") {
    max-width: 47%;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media("<desktop") {
    max-width: 100%;
  }
  padding-bottom: 20px;
  object-fit: contain;
}
