@import "../../../assets/sass/global";
@import "../../../assets/sass/page";

.photoSect {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95vw;
}
.pgImg {
  object-fit: contain;
  max-height: 40vh;
  min-height: 300px;
  max-width: 95vw;
  margin: $gutter / 2;
  &:hover {
    cursor: pointer;
  }
}
