.blueText {
  color: $blue;
  margin-top: 20px;
  margin-bottom: 0;
}

.blueLine {
  width: 5vw;
  min-width: 40px;
  color: $blue;
  border: 2px solid;
  border-radius: 2px;
}

.bluelight {
  background-color: $blueOverlay;
}
