@import "../mixins/rfs/scss";
@import "../mixins/include-media/dist/include-media";

$font: "IBM Plex Sans", sans-serif;
$white: #f7f7f7;
$black: #071e22;
$yellow: #eac435;
$blue: #345995;
$red: #fb4d3d;
$blackOverlay: rgba($black, 0.75);
$whiteOverlay: rgba($white, 0.5);
$redOverlay: rgba($red, 0.2);
$blueOverlay: rgba($blue, 0.2);
$yellowOverlay: rgba($yellow, 0.2);
$dropShadow: rgba($black, 0.25);
$regular: 400;
$bold: 700;
$pieceWidth2: 42vw; //30-45?
$pieceHeight2: $pieceWidth2 * 0.733;
$pieceWidth1: 84vw; //30-45?
$pieceHeight1: $pieceWidth1 * 0.733;
$fiveTwelveW: 41.67vw;
$fiveTwelveH: $fiveTwelveW * 0.574;
$twoHalf: 20.8vw;
$singleMacH: $fiveTwelveW * 0.977;
$doubleMacH: 50 * 0.951;
$doublePhoneH: 33.33 * 0.015;

html {
  scroll-behavior: smooth;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  @include font-size(24px);
}

footer {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

a {
  text-decoration: none;
}

// TEXT STYLES

.bold {
  font-weight: $bold;
}

h1 {
  font-family: $font;
  font-weight: $bold;
  font-style: italic;
  color: $black;
  @include font-size(60px);
}

h2 {
  font-family: $font;
  font-weight: $bold;
  color: $black;
  @include font-size(24px);
}

h3 {
  font-family: $font;
  font-weight: $bold;
  color: $black;
  @include font-size(44px);
}

.title {
  color: $white;
  margin-bottom: 0;
  @include font-size(36px);
}

h4 {
  font-family: $font;
  font-weight: $bold;
  color: $black;
  @include font-size(32px);
  text-align: center;
}

h5 {
  font-family: $font;
  font-weight: $bold;
  color: $black;
  @include font-size(22px);
}

.tags {
  color: $whiteOverlay;
  @include font-size(16px);
}

#back2top {
  @include font-size(18px);
}

.sectionText {
  @include font-size(18px);
  color: $blackOverlay;
}

h6 {
  font-family: $font;
  font-weight: $bold;
  color: $black;
  @include font-size(14px);
}

#mini {
  font-weight: $regular;
  @include font-size(11px);
}

.subSectionText {
  color: $blackOverlay;
}

p {
  font-family: $font;
  font-weight: $regular;
  color: $black;
  @include font-size(24px);
  line-height: 1.6;
  margin: 0;
}

.blurb {
  color: $blackOverlay;
}

.card {
  color: $white;
  @include font-size(20px);
}

.date {
  font-style: italic;
  color: $white;
  @include font-size(16px);
}
