@import "../mixins/rfs/scss";
@import "../mixins/include-media/dist/include-media";

// grid system
$gutter: 1.389vw;
$oneC: 100vw * 0.0833 - $gutter;
$twoC: 100vw * 0.1667 - $gutter;
$threeC: 100vw * 0.25 - $gutter;
$fourC: 100vw * 0.333 - $gutter;
$fiveC: 100vw * 0.4167 - $gutter;
$sixC: 100vw * 0.5 - $gutter;
$sevenC: 100vw * 0.583 - $gutter;
$eightC: 100vw * 0.667 - $gutter;
$nineC: 100vw * 0.75 - $gutter;
$tenC: 100 * 0.833 - $gutter;
$elevenC: 100 * 0.9167 - $gutter;
$twelveC: 100vw - $gutter;

// styles
$font: "IBM Plex Serif", serif;
$sansFont: "IBM Plex Sans", sans-serif;
$white: #e8e9eb;
$black: #313638;
$yellow: #e4b363;
$blue: #456496;
$red: #ef6461;
$taupe: #e0dfd5;
$blackOverlay: rgba($black, 0.85);
$whiteOverlay: rgba($white, 0.5);
$redOverlay: rgba($red, 0.2);
$blueOverlay: rgba($blue, 0.2);
$yellowOverlay: rgba($yellow, 0.2);
$dropShadow: rgba($black, 0.25);
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// specifics
$coverImgHeight: 0.5785 * $sevenC;
$blogImgHeight: 0.415 * $eightC;
$sbsImgHeight: 0.643;
$landscapeImgHeight4: 0.7373 * $fourC;
$portraitImgHeight4: 1.33 * $fourC;
$portraitImgHeight2: 2.01 * $twoC;
$blogCoverHeight: 0.358 * $sevenC;

// weird
$pieceWidth3: 30vw; //30-45?
$pieceHeight3: $pieceWidth3 * 0.733;
$pieceWidth2: 45vw; //30-45?
$pieceHeight2: $pieceWidth2 * 0.733;
$pieceWidth1: 70vw; //30-45?
$pieceHeight1: $pieceWidth1 * 0.733;
$fiveTwelveW: 41.67vw;
$fiveTwelveH: $fiveTwelveW * 0.574;
$twoHalf: 20.8vw;
$singleMacH: $fiveTwelveW * 0.977;
$doubleMacH: 50 * 0.951;
$doublePhoneH: 33.33 * 0.015;

html {
  scroll-behavior: smooth;
  margin-block-start: 0;
  margin-block-end: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  background: $taupe;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  @include font-size(18px);
}

footer {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

a {
  text-decoration: none;
  color: $black;
}

// UNIVERSAL STYLES

.linkObvi {
  color: $black;
  text-decoration: underline;
}

.bold {
  font-weight: $bold;
}

.italics {
  font-style: italic;
}

.skinnyText {
  margin: 0;
  padding: 0;
}

.invert {
  color: $white;
}

.workCards {
  color: $white;
  font-family: $sansFont;
}

.removeHeight {
  height: auto !important;
}

h1 {
  font-family: $font;
  font-weight: $medium;
  font-style: normal;
  color: $black;
  @include font-size(64px);
}

#spotlight {
  font-style: italic;
  @include font-size(72px);
}

h2 {
  font-family: $font;
  font-weight: $medium;
  color: $black;
  @include font-size(36px);
}

.job {
  font-weight: $regular;
  margin: 0;
}

.location {
  font-family: $sansFont;
  font-weight: $extraLight;
  font-style: italic;
  margin: 0;
}

h3 {
  font-family: $font;
  font-weight: $medium;
  color: $black;
  @include font-size(24px);
}

.blurb {
  font-weight: $regular;
}

.section {
  font-weight: $bold;
  font-style: italic;
}

.sub {
  font-weight: $regular;
  font-style: italic;
}

h4 {
  font-family: $font;
  font-weight: $regular;
  color: $black;
  @include font-size(18px);
}

.more {
  font-weight: $medium;
  font-style: italic;
}

.secondary {
  font-weight: $bold;
}

h5 {
  font-family: $font;
  font-weight: $light;
  font-style: italic;
  color: $black;
  @include font-size(14px);
}

.names {
  font-weight: $bold;
  font-style: normal;
}

p {
  font-family: $sansFont;
  font-weight: $regular;
  color: $black;
  @include font-size(18px);
}
