// HEADER --------------------------
.navbarPage {
  height: auto;
  top: 0;
  width: 100vw;
  margin-bottom: 7vw;
}

.pageHeader {
  height: $coverImgHeight;
  position: relative;
  @include media("<tablet") {
    margin-top: $gutter * 10;
  }
}

.headerImg {
  z-index: 0;
  height: $coverImgHeight;
  object-fit: cover;
  @include media(">=desktop") {
    opacity: 0.9;
    width: $sevenC;
  }
  @include media("<desktop") {
    opacity: 0.5;
    width: $sevenC;
  }
  @include media("<tablet") {
    opacity: 0.2;
    width: 100vw;
  }
}

.headerGradient {
  z-index: 2;
  position: absolute;
  left: 0;
  @include media(">=tablet") {
    width: $sevenC;
    height: $coverImgHeight;
  }
  @include media("<tablet") {
    width: 100vw;
    height: $coverImgHeight;
  }
  z-index: 1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.vertShortLine {
  position: absolute;
  width: 0;
  height: $coverImgHeight * 1.2;
  color: $dropShadow;
  border: 1px solid;
  @include media(">=desktop") {
    margin-left: $sixC;
    display: normal;
    top: 22%;
  }
  @include media("<desktop") {
    margin-left: $threeC;
    display: normal;
    top: 18%;
  }
  @include media("<tablet") {
    display: none;
  }
}

.headBottomLine {
  width: $elevenC;
  color: $dropShadow;
  border: 1px solid;
  position: absolute;
  right: 0;
  @include media(">=desktop") {
    margin-top: $gutter * 2;
  }
  @include media("<desktop") {
    margin-top: $gutter * 3;
  }
  @include media("<tablet") {
    margin-top: $gutter * 5;
  }
}

.pageHeadText {
  z-index: 2;
  height: $coverImgHeight;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  position: absolute;
  top: 0;
  padding: $gutter;
  @include media(">=desktop") {
    width: $sixC;
    margin-left: $sixC;
  }
  @include media("<desktop") {
    width: $nineC;
    margin-left: $threeC;
  }
  @include media("<tablet") {
    width: $twelveC;
    margin-left: 0;
  }
}

.fastFacts {
  display: flex;
}

.fact {
  @include media(">=desktop") {
    width: $twoC;
  }
  @include media("<desktop") {
    width: $threeC;
  }
  @include media("<tablet") {
    width: $fourC;
  }
}
// HEADER --------------------------

// MAIN ----------------------------
.vertBodyLineTop {
  position: absolute;
  width: 0;
  color: $dropShadow;
  border: 1px solid;
  @include media(">=desktop") {
    margin-left: $twoC;
    display: normal;
    top: 50%;
  }
  @include media("<desktop") {
    display: none;
  }
}

.sectionBreak {
  margin-top: 10vw;
  margin-left: $twoC + $gutter;
}

.textBlock {
  @include media(">=desktop") {
    width: $sixC;
    padding: 0;
  }
  @include media("<desktop") {
    width: 75vw;
    padding: $gutter;
  }
}

.highlightSect {
  position: relative;
  margin-top: $gutter * 2;
  margin-right: 0px;
  @include media(">=tablet") {
    width: $tenC + $gutter;
    height: $coverImgHeight;
  }
  @include media("<tablet") {
    width: $sevenC;
    position: static;
    height: $coverImgHeight * 2;
  }
}

.highlightText {
  z-index: 2;
  height: $coverImgHeight;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  @include media(">=tablet") {
    width: $fiveC;
    position: absolute;
  }
  @include media("<tablet") {
    width: $sevenC;
    position: static;
  }
}

.blurb {
  padding-bottom: $gutter * 2;
}

.highlightGradient {
  z-index: 1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 75%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 75%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 75%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

  @include media(">=desktop") {
    width: $sevenC;
    height: $coverImgHeight;
    position: absolute;
    right: 0;
  }
  @include media("<desktop") {
    width: $sevenC;
    height: $coverImgHeight;
    position: absolute;
    right: 0;
  }
  @include media("<tablet") {
    width: $sevenC;
    height: $coverImgHeight;
    position: static;
    margin-bottom: $coverImgHeight;
  }
}

.highlightImg {
  z-index: 0;
  @include media(">=desktop") {
    width: $sevenC;
    height: $coverImgHeight;
    object-fit: cover;
    position: absolute;
    right: 0;
  }
  @include media("<desktop") {
    width: $sevenC;
    height: $coverImgHeight;
    object-fit: cover;
    position: absolute;
    right: 0;
  }
  @include media("<tablet") {
    width: $sevenC;
    height: $coverImgHeight;
    object-fit: cover;
    position: static;
    margin-bottom: $coverImgHeight;
  }
}

.highlightLineTop {
  width: $fiveC;
  color: $dropShadow;
  border: 1px solid;
  position: absolute;
  left: 0;
  @include media(">=desktop") {
    margin-top: $gutter * 3;
    display: normal;
  }
  @include media("<tablet") {
    display: none;
  }
}

.highlightLineBottom {
  width: $fiveC;
  color: $dropShadow;
  border: 1px solid;
  position: absolute;
  left: 0;
  @include media(">=desktop") {
    margin-top: -$gutter * 2;
    display: normal;
  }
  @include media("<tablet") {
    display: none;
  }
}

.vertBodyLineBottom {
  position: absolute;
  width: 0;
  color: $dropShadow;
  border: 1px solid;
  @include media(">=desktop") {
    margin-left: $twoC;
    display: normal;
  }
  @include media("<desktop") {
    display: none;
  }
}

.sbsUnit {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $gutter * 2;
  @include media(">=desktop") {
    width: $eightC + $gutter;
  }
  @include media("<desktop") {
    width: $nineC;
  }
}

.sbsImg {
  object-fit: cover;
  @include media(">=desktop") {
    width: $fiveC;
    height: $sbsImgHeight * $fiveC;
    padding-left: $gutter;
  }
  @include media("<desktop") {
    width: $nineC;
    height: $sbsImgHeight * $nineC;
  }
}

.sbsText {
  @include media(">=desktop") {
    width: $threeC;
    padding-left: $gutter;
  }
  @include media("<desktop") {
    width: $nineC;
  }
}

.indentText {
  padding-left: $oneC;
  @include media(">=desktop") {
    width: $fiveC;
  }
  @include media("<desktop") {
    width: 55vw;
  }
}

.landscape4w {
  width: $fourC;
  height: $landscapeImgHeight4;
  object-fit: cover;
  padding-right: $gutter;
}

.portrait4w {
  width: $fourC;
  height: $portraitImgHeight4;
  object-fit: cover;
  padding-right: $gutter;
}

.landscape8w {
  width: $eightC;
  object-fit: cover;
}

.portrait2w {
  width: $twoC;
  height: $portraitImgHeight2;
  object-fit: cover;
  padding-right: $gutter;
}

.portrait3w {
  width: $threeC;
  object-fit: cover;
  padding-right: $gutter;
}

.gridConstraint {
  width: $tenC + $gutter;
}

// MAIN ----------------------------

// SPACERS -------------------------
.bottomM3 {
  margin-bottom: $gutter * 3;
}

.topM1 {
  margin-top: $gutter;
}

.noMP {
  margin: 0;
  padding: 0;
}

// SPACERS -------------------------
